name: CD

on:
  push:
    tags:
      - 'v*.*.*'
    
jobs:
  build:

    env:
      BUILD_CONFIG: 'Release'
      SOLUTION: 'Aspire.Hosting.Krakend.sln'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        fetch-depth: 0  # Fetch all history so git describe works
        fetch-tags: true

    - name: Setup .NET
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
      with:
        dotnet-version: '10.0.x'
    
    - name: Get Build Version
      run: |
        echo "GITHUB_REF=$GITHUB_REF"
        tag_name=${GITHUB_REF#refs/tags/}
        version=$(./build/GetBuildVersion.sh $tag_name)
        echo "BUILD_VERSION=$version" >> $GITHUB_ENV
        echo "tag_name=$tag_name" >> $GITHUB_ENV
        echo "tag_name=$tag_name" >> $GITHUB_OUTPUT
      shell: bash

    - name: Build
      run: dotnet build $SOLUTION --configuration $BUILD_CONFIG /p:ContinuousIntegrationBuild=true -p:Version=$BUILD_VERSION

    - name: Test
      run: dotnet test --configuration $BUILD_CONFIG --no-restore --no-build --verbosity normal

    - name: Generate Changelog
      id: changelog
      run: |
        previous_tag=$(git describe --tags --abbrev=0 HEAD^)
        echo "Previous tag: $previous_tag"
        changelog=$(git log $previous_tag..HEAD --pretty=format:"* %s (%an)")
        echo "$changelog" > CHANGELOG.md
        echo "changelog<<EOF" >> $GITHUB_OUTPUT
        echo "$changelog" >> $GITHUB_OUTPUT
        echo "EOF" >> $GITHUB_OUTPUT

    - name: Publish Nuget
      run: |
        dotnet nuget push **/*.nupkg --source 'https://api.nuget.org/v3/index.json' --api-key ${{secrets.NUGET_API_KEY}}

    - name: Create GitHub Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
      with:
        tag_name: ${{ env.tag_name }}
        name: Release ${{ env.tag_name }}
        body: ${{ steps.changelog.outputs.changelog }}
        token: ${{ secrets.GITHUB_TOKEN }}
